# Ignorar archivos con extensión .txt
*.txt
!README.txt
# Ignorar archivos de imagenes
*.png
*.jpg

imag*
# Ignorar archivos que comienzan por 000
00*
output.png

# ignorar la carpeta scripts_pruebas
# scripts_pruebas/
.DS_Store

venv/